<div class="w-full flex flex-col  border border-[#EFEDEB] " routerLink="/blog/{{article.slug}}">
    <div class="cursor-default w-full h-40 rounded-t-md overflow-hidden relative group">
        <img class="absolute top-0 left-0 right-0 bottom-0 object-cover group-hover:scale-105 transition-all duration-300"
            [src]="article.imageUrl" alt="">
    </div>
    <div class="cursor-pointer flex flex-col gap-3 p-3  shadow  rounded-b-md bg-white ">
        <div class="flex flex-col gap-2">
            <span class="italic text-[#4A4846]  leading-[1.3] tracking-[-0.2px]">
                {{article.createdAt | date: 'MMMM d, y'}}
            </span>
            <h3 class="text-xl font-semibold text-[#34302D] leading-[1.3] tracking-[-0.5px] text-on-2-line">
                {{article.title}}
            </h3>
            <p class="text-[#4A4846] text-lg   leading-[1.5] tracking-[-0.2px] text-on-2-line">{{article.description}}
            </p>
        </div>
        <span
            class="flex items-center px-4 h-6 bg-[#F0F9FF] text-[#026AA2] rounded-2xl text-sm font-medium max-w-max">Tech</span>
    </div>
</div>