<div class="w-full p-[6px] rounded-[10px] bg-[#FEFEFE] drop-shadow-sm flex items-center justify-between">
    <div class="w-10 h-10 relative" routerLink="/home">
        <img src="./images/img-logo.png" class="absolute top-0 left-0 w-full h-full object-cover" alt="">
    </div>
    <div class="flex items-center gap-4">
        <ul class="flex gap-5 text-[#4A4846] items-center">
            <li *ngFor="let nav of navItems">
                <a [routerLink]="nav.path" routerLinkActive="active" class="nav-item relative">{{nav.name}}</a>
            </li>
        </ul>
        <button
            class="h-10 w-10 rounded-lg bg-[#FBF9F7] border border-[#EFEDEB] relative  flex items-center justify-center">
            <img class="absolute " src="./images/icon-moon.svg" alt="">
        </button>
    </div>
</div>