<div class="placeholder h-20" *ngIf="isVisible.length"></div>
<div class="header px-4 sm:px-10 bg-[#F7F8F9] transition-class  w-full z-20" appApplyContextClass
    [ngClass]="isVisible.length?isVisible+' fixed top-0  shadow ':''">
    <div class="container  h-20 flex items-center justify-between z-20">
        <div class="w-12 h-12 relative" routerLink="/home">
            <img src="./images/img-logo.png" class="absolute top-0 left-0 w-full h-full object-cover" alt="">
        </div>
        <nav class="flex gap-6">
            <ul class="sm:flex hidden gap-5  items-center ">
                <li *ngFor="let nav of navItems">
                    <a [routerLink]="nav.path" routerLinkActive="active"
                        class="nav-item relative text-base font-medium text-gray-500">{{nav.name}}</a>
                </li>
            </ul>
            <a routerLink="/contact" class="btn btn-primary !h-9">Contact</a>

        </nav>
        <button (click)="toggleMenuMobile()"
            class="h-10 w-10 rounded-lg flex items-center justify-center sm:hidden z-20">
            <mat-icon class="flex items-center justify-self-center">{{ menuMobile ? 'close' : 'menu' }}</mat-icon>
        </button>
    </div>
</div>