<div class="flex flex-col gap-24 mb-40">
    <div class="px-4 sm:px-10 bg-[#F7F8F9]">
        <div class="container md: flex  flex-col-reverse  md:grid space-y-reverse  md:grid-cols-2 gap-10 pt-20 pb-28">
            <div class="flex flex-col gap-3">
                <app-title [texte]="'HEADER'"></app-title>
                <div class="container flex flex-col gap-6 justify-center">
                    <h2 class="relative text-gray-900 text-6xl">
                        Partageons la connaissance
                    </h2>
                    <div class="text-gray-500 text-xl">
                        Découvrez mes astuces, conseils et créations en développement web. Apprenez avec moi et
                        rejoignez une communauté de développeurs passionnés.
                    </div>
                    <app-social-links></app-social-links>
                </div>
            </div>
            <div
                class="hero-image-wrapper relative items-center justify-center flex shadow shadow-primary-500 rounded-2xl">
                <img class="absolute -top-10 -left-10" src="./images/deco-hero-top.png" alt="">
                <img src="./images/learn-coding.png" alt="">
                <img class="absolute -bottom-10 -right-5" src="./images/deco-hero-bot.png" alt="">
            </div>
        </div>
    </div>
    <!--  -->
    <app-numbers></app-numbers>
    <!--  -->
    <div class="px-4 sm:px-10">
        <div class="container flex flex-col gap-8">
            <div class="flex flex-col gap-3 items-center">
                <app-title [texte]="'ARTICLES'"></app-title>
                <p class="text-gray-500 text-xl   ">Derniers Articles</p>
            </div>
            <!-- Skeleton Loader -->
            <!-- <div *ngIf="isLoading" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3   gap-6  sm:gap-7  ">
                <div *ngFor="let _ of [1, 2, 3, 4, 5, 6];let last=last">
                    <app-skeleton-loader></app-skeleton-loader>
                </div>
            </div> -->
            <!-- Skeleton Loader -->
            <div *ngIf="isLoading" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3   gap-6  sm:gap-7 ">
                <div *ngFor="let _ of [1, 2, 3];let last=last">
                    <app-skeleton-loader></app-skeleton-loader>
                </div>
            </div>
            <!-- Liste des articles -->
            <div *ngIf="!isLoading" class="flex flex-col gap-8">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3    gap-6  sm:gap-7  ">
                    <app-card-article *ngFor="let article of articles" [article]="article"></app-card-article>
                </div>
                <a routerLink="/articles" class="mx-auto inline-flex items-center gap-2 px-4 py-2 rounded-full bg-primary-500/10 hover:bg-primary-500/20 transition-all duration-300 text-primary-500">
    Voir tous les articles <mat-icon>arrow_forward</mat-icon>
</a>
            </div>
        </div>
    </div>
    <!--  -->
    <app-newsletter></app-newsletter>
    <!--  -->
    <app-technos></app-technos>
</div>