<div class="flex flex-col gap-6">
    <div class=" flex flex-col gap-4">
        <h2>Newsletter</h2>
        <p>
            Vous voulez rester informé de mes derniers articles, tutoriels de programmation et aventures personnelles ?
            Inscrivez-vous à ma newsletter ! C’est une façon simple de suivre mes nouvelles publications et les astuces
            de codage
            que je découvre. Il vous suffit de renseigner votre adresse e-mail dans le champ d’inscription, et je vous
            enverrai des
            mises à jour dès qu’il y aura du nouveau à partager.
        </p>
        <h5>
            J’aimerais beaucoup vous avoir à mes côtés pour cette aventure et également entendre parler de votre propre
            parcours !
        </h5>
    </div>
    <form [formGroup]="form" class="flex flex-col gap-4">
        <div class="flex flex-col gap-2 items-start">
            <label for="email">Email</label>
            <input formControlName="email" id="email" type="text" placeholder="email@example.com">
        </div>
        <div class="flex flex-col gap-1">
            <button type="submit" [disabled]="form.invalid" (click)="onSubmit()">
                Restez informé
            </button>
            <p class=" leading-[1.3] tracking-[-0.5px]">
                Désabonnement à tout moment. Pas de spam, promis 🙂
            </p>
        </div>
    </form>
</div>