button {
    height: 52px;
    max-width: max-content;
    border-radius: 10px;
    padding: 0 24px;
    border: none;
    background-color: #93CEFC;
    color: #1C1A19;
    font-size: 1.125rem;
    // color: #4A4846;
    line-height: 150%;
    letter-spacing: -.5px;
    font-weight: 500;
    display: flex;
    align-items: center;
}